#contact {
  padding: 1rem;
  @media only screen and (min-width: 750px) {
    padding: 2rem;
  }
  @media only screen and (min-width: 1000px) {
    padding: 3rem;
  }
  .contact-me-img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .contact-me {
    display: flex;
    align-items: center;
    margin: 2rem;
    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
    a,
    p {
      display: block;
      text-decoration: none;
      font-size: 1.2rem;
      color: #222;
    }
  }
}
