html {
  body {
    background-color: #fff;
    height: 100vh;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
    h1,
    h2,
    h3,
    h4,
    h4,
    h6 {
      font-family: "Noto Sans TC", sans-serif;
    }
    p {
      font-family: "Noto Sans TC", sans-serif;
    }
    button {
      background: transparent;
      border: 0;
      outline: none;
    }
    .container {
      height: 100%;
      width: 100%;

      @media only screen and (min-width: 750px) {
        display: flex;
        #sidebar,
        .main-content {
          width: 50%;
        }
      }
      #sidebar {
        background-color: #fff;
        .navigations {
          background-color: #ffffff54;
          @media only screen and (max-width: 750px) {
            background-color: #edf0ef;
          }
          height: 100%;
          width: 75px;
          position: fixed;
          z-index: 999;

          .nav-icons {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
            button {
              width: 100%;
              cursor: pointer;
              a {
                img {
                  width: 60px;
                  cursor: pointer;
                }
              }
              img {
                width: 40px;
              }
            }
          }

          .download-icon {
            position: absolute;
            left: 0;
            bottom: 10%;
          }
        }
        .side-img {
          display: none;
          @media only screen and (min-width: 750px) {
            display: block;
            position: relative;
            margin-left: 75px;
            background-image: url("../images/pic.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            height: 100vh;
            background-position-x: center;
            margin: 0;
            box-shadow: 9px -4px 15px -4px #494646;
            .about-img-content {
              position: absolute;
              width: 50vh;
              height: 15vh;
              left: 25%;
              bottom: 20px;
              background: #8585852e;
              @media only screen and (min-width: 1050px) {
                left: 30%;
              }
              h1 {
                font-weight: 900;
                font-size: 25px;
              }
              .links {
                display: flex;
                margin-top: 2em !important ;
                width: 30%;
                margin: 0 auto;
                a:first {
                  padding-right: 0.5rem;
                }
                a {
                  img {
                    margin-right: 2em;
                    width: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .main-content {
        height: 100%;
        overflow-y: scroll;
        @media only screen and (max-width: 750px) {
          margin-left: 75px;
        }
        .tabContent {
          display: none;
        }
      }
    }
  }
}
