html body {
  background-color: #fff;
  height: 100vh;
}

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  text-align: center;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h4,
html body h6 {
  font-family: "Noto Sans TC", sans-serif;
}

html body p {
  font-family: "Noto Sans TC", sans-serif;
}

html body button {
  background: transparent;
  border: 0;
  outline: none;
}

html body .container {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  html body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body .container #sidebar,
  html body .container .main-content {
    width: 50%;
  }
}

html body .container #sidebar {
  background-color: #fff;
}

html body .container #sidebar .navigations {
  background-color: #ffffff54;
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 999;
}

@media only screen and (max-width: 750px) {
  html body .container #sidebar .navigations {
    background-color: #edf0ef;
  }
}

html body .container #sidebar .navigations .nav-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html body .container #sidebar .navigations .nav-icons button {
  width: 100%;
  cursor: pointer;
}

html body .container #sidebar .navigations .nav-icons button a img {
  width: 60px;
  cursor: pointer;
}

html body .container #sidebar .navigations .nav-icons button img {
  width: 40px;
}

html body .container #sidebar .navigations .download-icon {
  position: absolute;
  left: 0;
  bottom: 10%;
}

html body .container #sidebar .side-img {
  display: none;
}

@media only screen and (min-width: 750px) {
  html body .container #sidebar .side-img {
    display: block;
    position: relative;
    margin-left: 75px;
    background-image: url("../images/pic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    background-position-x: center;
    margin: 0;
    -webkit-box-shadow: 9px -4px 15px -4px #494646;
            box-shadow: 9px -4px 15px -4px #494646;
  }
  html body .container #sidebar .side-img .about-img-content {
    position: absolute;
    width: 50vh;
    height: 15vh;
    left: 25%;
    bottom: 20px;
    background: #8585852e;
  }
}

@media only screen and (min-width: 750px) and (min-width: 1050px) {
  html body .container #sidebar .side-img .about-img-content {
    left: 30%;
  }
}

@media only screen and (min-width: 750px) {
  html body .container #sidebar .side-img .about-img-content h1 {
    font-weight: 900;
    font-size: 25px;
  }
  html body .container #sidebar .side-img .about-img-content .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em !important;
    width: 30%;
    margin: 0 auto;
  }
  html body .container #sidebar .side-img .about-img-content .links a:first {
    padding-right: 0.5rem;
  }
  html body .container #sidebar .side-img .about-img-content .links a img {
    margin-right: 2em;
    width: 20px;
  }
}

html body .container .main-content {
  height: 100%;
  overflow-y: scroll;
}

@media only screen and (max-width: 750px) {
  html body .container .main-content {
    margin-left: 75px;
  }
}

html body .container .main-content .tabContent {
  display: none;
}
/*# sourceMappingURL=main.css.map */