#work {
  padding: 1rem;
  @media only screen and (min-width: 750px) {
    padding: 2rem;
  }
  @media only screen and (min-width: 1000px) {
    padding: 3rem;
  }
  .work-images {
    margin-bottom: 1rem;
    &:hover {
      box-shadow: 0px 2px 8px 0px #494646;
      transition: 0.2s;
    }
    a {
      img {
        width: 100%;
      }
    }
  }
}
